html{
	height: 100%;	
	color: white;
}

#homepage{
	width: 100%;
	margin: 0;
	text-align: center;
	background: -webkit-radial-gradient(#333333, black); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#333333, black); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#333333, black); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#333333, black);
	background-repeat: no-repeat;
}

.container{
	padding-top: 120px;
	padding-bottom: 40px;
}

#signin{
	max-width: 350px;
	margin: 0 auto;
}

#signup{
	max-width: 350px;
	margin: 0 auto;
}

#signin #username{
	margin-bottom: 5px;
}

#signup #username{
	margin-bottom: 15px;
}

#signin #password{
	margin-bottom: 20px;
}

#signup #password{
	margin-bottom: 5px;
}

#signup #email{
	margin-bottom: 20px;
}

form #password2{
	margin-bottom: 15px;
}

form #submit{
	margin-bottom: 5px;
	background-color: #87CEFF;
}

#signup #submit{
	margin-bottom: 5px;
	background-color: #98FB98;
}

form #signup{
	font-size: 12px;
	color: white;
	float: right;
	margin: 0;
}

form #signin{
        font-size: 12px;
        color: white;
        float: right;
        margin: 0;
}

.panel{
	margin: 0 auto;
	max-width: 400px;
	color: white;
	border-color: #87CEFF;
	background-color: #333333;
}

.panel h1{
	font-size: 32px;
	margin-bottom: 20px;
}
